.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  padding: 1rem;
  color: #5900bf;
}

.navbar a:hover,
.navbar a:focus,
.navbar a:active {
  text-decoration: underline;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
  margin-right: auto;
}
